video#video { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover; 
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: normal;
  src: local('Bebas Neue'), url('BebasNeue.woff') format('woff');
}

* {
  font-family: 'Bebas Neue';
  color: white;
}

.centerContainer {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#quoteText {
  text-align: center;
  font-size: 40px;
  padding-top: 30px;
}

#divider {
  height: 5px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 30px;
}

#logo {
  width: 100%;
}

#membersList {
  text-align: center;
  margin-top: 30px;
  overflow: hidden;
  font-size: 22px;
  height: calc(100% - 450px);
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 6px;
}

#membersList:hover {
  padding-right: 0px;
  overflow: auto;
}

.scrollbar::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.3);
}

.scrollbar::-webkit-scrollbar {
	width: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.5);
}
