body {
font-family: 'Roboto', sans-serif;
color: #fff;
font-size: 20;
}

.footer {
    opacity: 0.5;
    width: 100%;
    height: 45px;
}

.navbar-fixed-bottom .navbar-text {
    color: #000;
}

.btn {
	background-color: #000;
    opacity: 0.1;
    border: none;
    color: #fff;
    padding: 15px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
a, a:visited {
    color: #FFFFFF;
    text-decoration:  none;
}
#title {
    color: #FFFFFF;
    font-size: 32px;
}
#screen {
    padding: 10px 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-opacity: 0.65;
    -khtml-opacity: 0.65;
    opacity: 0.65;
    background-color: #000000;
}
#membersList {
  text-align: center;
  overflow: hidden;
  height: 100px;
  width: 94px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 2px;
}
#membersList:hover {
  padding-right: 0px;
  overflow: auto;
}
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    volume: 50%;
    transition: 1s opacity;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.3);
}
.scrollbar::-webkit-scrollbar {
    width: 2px;
}
.scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.65);

/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-image: url('../images/background.png');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}